name: features_orders
description: Orders feature
version: 0.1.0
publish_to: none
environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  go_router: ^14.2.0
  flutter_bloc: ^8.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter
